/*********** MAP ***********/
html {
        height: 100%
}
    
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
}	


.mapBtns {
    outline: none;
    border-radius: 10px 5px;
    background-color: #04366e;
    font-weight: bold;
    
}
